﻿@model Todo.WebUI.Models.TaskModel
@using Todo.Entities

@section scripts
{
    <script src="~/Scripts/pages/SetPriority.js"></script>
}

@{

    TaskEntity task = ViewBag.Result;
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div style="margin:auto; width: 50%;">
    <h2>Edit</h2>
    <form method="post" action="/task/SaveEdit">
    <table>
        <tr>
            <th class="headStyle">#</th>
            <th class="headStyle">Task Description</th>          
            <th class="headStyle">Done</th>
            <th class="headStyle">Priority</th>
        </tr>
        
            <tr>           
                <td class="rightBorder">
                    <input type="hidden" name="id" value="@task.Id" />
                    @task.Id
                </td>
                <td class="rightBorder">
                    <textarea rows="4" cols="30" name="taskInfo" class="textField">@task.TaskInfo</textarea>
                </td>                
                <td>
                    <input type="checkbox" @(task.Done ? "checked ='checked'" : "") value="true" name="done" />
                    <input type="hidden" name="done" value="false" />
                </td>
                <td class="rightBorder"> 
                    <select name="priority" >
                        <option value="1">Low</option>
                        <option value="2">Medium</option>
                        <option value="3">High</option>
                        <option value="4">Critical</option>
                    </select>                                                                           
                </td>
            </tr>
         
    </table>
    <input type="submit" value="SaveEdit" />
    </form>
    <a href="/task/Index"><input type="button" value="cancel" /></a>
</div>
<script>
    setPrioriry(@task.Priority);
</script>