﻿@using Todo.Entities

@section scripts
{    
    <script src="~/Scripts/pages/TasksPage.js"></script>
}

@{
    //@model List<Todo.Entities.TaskEntity>
    ViewBag.Title = "Index";

    string errMes = ViewBag.Error;
    List<TaskEntity> tasks = ViewBag.Result;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div style="margin:auto; width: 50%;">
    <form method="post">
        <input type="text" name="newTask" style="width:400px" placeholder="task description" />      
        <select name="priority">
            <option value="1">Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
            <option value="4">Critical</option>
        </select>
        <input type="submit" value="add new task" />
        <label style="color: red">@errMes</label>
    </form>
    @Html.Partial("TaskFilterPartial")
    
    <table>
        <thead>
            <tr>
                <th class="headStyle" title="click me to sort" data-value="none" id="Id">#</th>
                <th colspan="2" class="headStyle" title="click me to sort" data-value="none" id="Description">Task description</th>
                <th class="headStyle" title="click me to sort" data-value="none" id="IsDone">Done</th>
                <th class="headStyle" title="click me to sort" data-value="none" id="Priority">Priority</th>
                <th class="headStyleDelete">Delete</th>
           </tr>
        </thead>
        <tbody>
            @Html.Partial("TasksPartial", tasks)
        </tbody>
    </table>
</div>