﻿<select id="listBoxStatus">
    <option value="All">All</option>
    <option value="Done">Done</option>
    <option value="Inprogress">In progress</option>
</select>
<select id="listBoxPriority">
    <option value="0">All</option>
    <option value="1">Low</option>
    <option value="2">Medium</option>
    <option value="3">High</option>
    <option value="4">Critical</option>
</select>