﻿@using Todo.Entities
@model List<TaskEntity>

    @foreach (var i in Model)
    {
        <tr class="@(i.Done ? "done" : "")">
            <td name="taskID" class="taskId">
                @i.Id
            </td>
            <td class="task">
                @i.TaskInfo
            </td>
            <td class="rightBorder">
                <a href="/task/Edit?id=@i.Id"><input type="button" value="edit"></a>
            </td>
            <td class="rightBorder">
                <input type="checkbox" class="checkBoxIsDone" @(i.Done ? "checked ='checked'" : "") data-task-id="@i.Id" />
            </td>
            <td class="rightBorder" style="background-color:@Enum.GetName(typeof(EnumPriority.color), @i.Priority)" value="@i.Priority">
                @Enum.GetName(typeof(EnumPriority.name), @i.Priority)
            </td>
            <td style="text-align:center">
                <form method="post" action="/task/Delete">
                    <input type="text" style="display:none" value="@i.Id" name="taskId" />
                    <input type="submit" value="x" style="color:red; border-radius: 10px; outline: none" />
                </form>
            </td>
        </tr>
    }
