﻿body {
}
table {
    border: 2px double;
    border-collapse: collapse;
    font-family: Arial;
}
td {
    border: 1px solid;
}
td.taskId{
    width: 30px;
    font-size: 16px;
    border-right: 2px solid;
    text-align:center;
}
td.task {
    width: 200px;
    text-align: left;
    font-size: 14px;
    border-right: none;
}
td.rightBorder {
    font-size: 14px;
    border-left: none;
    border-right: 2px solid;
    text-align:center;
}
textarea.task{
    overflow: hidden;
    width: 200px;   
}
.done {
    background-color: #ddd;
    text-decoration:line-through;
}
th.headStyle {
    font-size: 16px; 
    border-bottom: 2px solid; 
    border-right: 2px solid;
    cursor: pointer;
}
th.headStyleDelete {
    font-size: 16px; 
    border-bottom: 2px solid; 
    border-right: 2px solid;
}
.textField{
    border: none;
    outline: none;
}