﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <link href="~/css/tableStyle.css" rel="stylesheet" />
    <script src="~/Scripts/lins/jquery/jquery-2.1.4.js"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <div>
        <form method="post" action="~/Security/Logout">
            <label>@HttpContext.Current.User.Identity.Name</label>
            <input type="submit" value="Logout" />
        </form>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>