﻿@model Todo.WebUI.Models.TaskModel
@using Todo.Entities

@{
    TaskEntity task = ViewBag.Result;
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Edit</h2>
@task.Id
<input type="textarea" value="@task.TaskInfo" style="width: 500px; height:200px"/>
<input type="checkbox" @(task.Done ?  "checked ='checked'" :"") />
