﻿@using Todo.Entities

@{
    //@model List<Todo.Entities.TaskEntity>
    ViewBag.Title = "Index";

    string errMes = ViewBag.Error;
    List<TaskEntity> tasks = ViewBag.Result;
    Layout = "~/Views/Shared/Layout.cshtml";   
}
<form method="post">
    <input type="text" name="newTask" />
    <input type="submit" value="add new task" />
    <lable style="color: red">@errMes</lable>
</form>
<table>   
    <tr>
        <th>#</th>
         <th>Task</th>
         <th>Done</th>
         <th>Delete</th>
    </tr>
    @foreach (var i in tasks)
    {
        <tr>
            <th name="taskID">
                @i.Id
            </th>
            <th>
                @i.TaskInfo

                    <a href="/task/Edit?id=@i.Id"><input type="button" value="edit" /></a>
            </th>
            <th>
                <input type="checkbox" @(i.Done ?  "checked ='checked'" :"")/>             
            </th>
            <th>
                <form method="post" action="/task/Delete" > 
                    <input type="text" style="display:none" value="@i.Id" name="taskId"/>
                    <input type="submit" value="x" style="color:red; border-radius: 10px; outline: none"/>
                </form>
            </th>
        </tr>
    }
</table>