﻿@model Todo.WebUI.Models.LoginModel
@{
    string errMes = ViewBag.Error;
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div>
    <form method="post">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(userName => userName.UserName)
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(pass => pass.Password)
        <input type="submit" value="sing in" />
        <label style="color: red">@errMes</label>
    </form>
</div>
